a {
  font-weight: 900;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
}
.container-fluid {
  padding: 3% 10%;
}
#title {
  background-color: #005A8B;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-nav {
  align-items:baseline;
}
.navbar-brand {
  font-size: 2.7rem;
}
.nav-item {
  padding: 0 0.3rem;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: baseline;
}
.chronicles-item {
  padding-right: 1.5rem;
}
.chronicles-link {
  font-size: 1.4rem;
  font-weight: 900;
}
img {
  overflow: auto;
}
#zach {
  transform: rotate(8deg);
}
.click-btn {
  margin: 5% 3% 5% 0;
}
.s1-p {
  font-size: 140%;
  color: white;
  line-height: 2;
  padding: 6rem 0;
}
.s1-p2 {
  font-size: 110%;
  color: white;
  line-height: 2;
  padding: 6rem 0;
}

/* Explanation */

#explanation {
  background-color: #333333;
  padding: 6rem 0;
}
h2 {
  text-align: center;
  font-weight: 800;
  width: 90%;
  margin: auto;
}
.s2-h2 {
  color: #005A8B;
}
#tldr-button {
  text-align: center;
  color: #000;
  padding-bottom: 3rem;
}
.s2-p {
  font-size: 140%;
  color: white;
  line-height: 2;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
}
.read-more {
  background: #005A8B;
  margin: auto;
  display: flex;
}

/* If Your Name... */

#go {
  background: white;
  padding-top: 4rem;
}
.container {
  max-width: 90%;
}
.s3-h2 {
  color: #005A8B;
  padding: 3rem 0 3rem 0;
}
.num-icon {
  margin: auto;
  align-items: center;
  text-align: center;
  display: block;
}
.box1 {
  background: #005A8B;
  align-items: center;
  justify-content: center;
  border: 0.4rem solid #333333;
  max-width: 90%;
  height: 11rem;
}
.box1-text {
  color: white;
  display: flex;
  justify-content: center;
}
.box2 {
  background: white;
  align-items: center;
  justify-content: center;
  border: 0.4rem dotted #333333;
  max-width: 90%;
  height: 11rem;
}
.box2-text {
  color: #005A8B;
  display: flex;
  justify-content: center;
}
.box3 {
  background: #333333;
  align-items: center;
  justify-content: center;
  border: 0.4rem solid #005A8B;
  max-width: 90%;
  height: 11rem;
}
.box3-text {
  color: white;
  display: flex;
  justify-content: center;
}

/* Verified Users */

#users {
  background: #005A8B;
}
.s4-users {
  text-align: center;
  color: #333333;
  padding: 5rem 0 1rem 0;
}
.s4-p {
  color: white;
  text-align: center;
  font-size: 150%;
}
/* #users-carousel {
  height: auto;
  width: auto;
  overflow: hidden;
} */
.carousel-h2 {
  color: #333333;
}
.carousel-p {
  color: #333333;
}
/* Disclaimer */

#disclaimer {
  background: #333333;
}
.s4-h2 {
  color: #005A8B;
  padding: 3rem 0 3rem 0;
}
h3 {
  color: white;
  line-height: 1.5;
}
#dis-div {
  margin: auto;
  text-align: center;
}
#footer {
  margin: 1rem 0 0 1rem;
  color: #005A8B;
}
.back-to-top {
  text-align: center;
}
#attribute {
  color: white;
  font-size: 2px;
}
.btn-primary {
  background: #005A8B;
}

/* Chronicles */

.padding-chronicles {
  padding: 0;
}
#chronicles-title {
  line-height: 1;
  padding-bottom: 0;
  text-align: center;
  color: #005A8B;
}
#spotify {
  display: block;
  border-radius: 2rem;
  border: 0.2rem solid #005A8B;
  margin: 0 auto 2rem auto;
}
#tldr-text {
  font-weight: 600;
  padding: 4rem 0 2rem 0;
  text-align: center;
  color: white;
}
#tldr-text2 {
  font-weight: 600;
  padding-top: 2rem;
  text-align: center;
  color: white;
}

/* People */

.ppl-text {
  font-size: 1.5rem;
  padding: 3rem 0;
  color: white;
}
.person-img {
  display: flex;
  align-items: flex-start;
  max-width:100%;
  height:auto;
}
.others-text {
  font-size: 140%;
  color: white;
  line-height: 1.3;
  padding-bottom: 0;
  width: 80%;
  margin: auto;
}
